<a href="https://colab.research.google.com/github/anderson361163/AED_Impacta_Aula03/blob/main/Aula_03_Pandas_v2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<h1> <font color="Blue"> Aula 03 Pandas

# Nova seção

<p>
    O Pandas é a principal e mais completa biblioteca Python  que fornece ferramentas de análise de dados e estruturas de dados de alta performance e fáceis de usar.
</p>

<p>
    Em particular, oferece estruturas e operações para manipular tabelas numéricas e séries temporais.
</p>

<p>
    O objeto usado pela biblioteca para manipulação de dados é o "DataFrame“, o qual possui indexação integrada.

</p>

---

<h3> Instalação </h3>

Se estiver rodando o python a partir da instalação básica é necessário a instalação da biblioteca através do comando no shell:

<i>pip install pandas

conda install pandas</i>

---

<b>INSTALAÇÃO:</b> https://pandas.pydata.org/docs/getting_started/install.html

<b>DOCUMENTAÇÃO:</b> https://pandas.pydata.org/docs/

In [ ]:
import pandas as pd
import numpy as np

Por padrão o pandas lista 10 linhas do dataset, entretanto podemos alterar esses valores

In [ ]:
pd.set_option('display.max_rows', 100)

<h2>Lendo Dados</h2>

<p>Read</p>

In [ ]:
'''Tanto o delimiter quanto o sep possuem a mesma função, setar a forma de separação de dados 
entre colunas e suas respectivas linhas.
'''

df = pd.read_csv('Carros.csv', delimiter=';')
#df = pd.read_csv('db.csv', sep=';')

#Apresentando as 5 primeiras linhas do documento
df

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

<h2>Series</h2>

Uma série fornece um Ndarray unidimensional com rótulos de eixo

In [ ]:
serie = pd.Series(np.random.randint(0, 100, 5), index=['A', 'B', 'C', 'D', 'E'])
serie

A    15
B     9
C    48
D    94
E    74
dtype: int64

<h3>DataFrame</h3>

<p>Pandas permite a importação de diferentes formatos de arquivo, como csv e excel, para a leitura em dataframes. </p>

<p>Podemos criar DataFrame a partir de arquivos externos, tuplas, listas e dicionarios do python</p>

In [ ]:
#A partir de listas
df1 = pd.DataFrame([[15,12], [44,78],[15,88]], columns=['x','y'])
df1

In [ ]:
df2 = pd.DataFrame(((10,15),(25,88),(425,320)), columns=['x','y'])
df2

In [ ]:
dicionario = {'Coluna1':[15,45,85,458], 'Coluna2':[254,878,365,9801]}
dicionario

In [ ]:
df3 = pd.DataFrame(dicionario)
df3

<h2>Validando colunas e seus tipos de dados</h2>

In [ ]:
df.dtypes

In [ ]:
df.info()

In [ ]:
df.head()

<h2>Filtrando dados</h2>

<p>
A seleção de colunas no Pandas funciona da mesma forma que no NumPy e no Python, porém no Pandas é necessário especificar o nome da coluna.
</p>

In [ ]:
#Quando selecionamos somente uma coluna o tipo de retorno é uma Serie do Pandas
df['Nome']

In [ ]:
df[['Nome', 'Ano', 'Valor']]

<h2>Dataframe.iloc</h2>

Podemos localizar uma linha em especifica no dataframe através de seu índice, com a função iloc

In [ ]:
df

In [ ]:
df.iloc[3]

<h2>Dataframe.loc</h2>

Quando os índices estão especificados através de texto podemos localizar esse índice através de seu nome com a função loc.

In [ ]:
df_copy = df.copy()

In [ ]:
df_copy.index = df_copy['Nome']
df_copy.head()

In [ ]:
df_copy.loc['DS5']

Nome                                                           DS5
Motor                                              Motor 2.4 Turbo
Ano                                                           2019
Quilometragem                                                  NaN
Zero_km                                                       True
Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
Valor                                                    124549.07
Name: DS5, dtype: object

<h2>Seleção de linhas e colunas</h2>

In [ ]:
df_copy.loc['Crossfox'][0:3]

Nome            Crossfox
Motor    Motor Diesel V8
Ano                 1990
Name: Crossfox, dtype: object

In [ ]:
df.loc[1:5:2, ['Nome', 'Ano']]

            Nome   Ano
1         Passat  1991
3            DS5  2019
5  Palio Weekend  2012

Podemos filtrar somente as linhas que tenha veículos com o nome de Crossfox por exemplo. Como o nosso dataframe só possui um veículo com esse nome a busca só nos retorna 1 registro

In [ ]:
df[df['Nome'] == 'Crossfox']

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

<h2>REMOÇÃO DE LINHAS E COLUNAS</h2>

<p>Podemos remover linhas e colunas de um dataframe. Para isso vamos copiar nosso dataframe original e deletar algumas informações a partir dele</p>

In [ ]:
df2 = df.copy()
df2

<h3>Remoção pelo Indice

In [ ]:
df2.drop([1,3])

<h3>Remoção de uma coluna</h3>

<p>Para remoção de uma coluna, temos que passar o parâmetro <b>axis=1</b></p>

In [ ]:
df2.drop('Zero_km', axis=1)

<h2>INCLUSÃO DE COLUNAS</h2>

In [ ]:
df2['Zero_km'] = df['Zero_km']
df2

In [ ]:
df2['Quilometragem_media'] = df2['Quilometragem'] / (2022 - df2['Ano'])
df2

<h2>COLETANDO INFORMAÇÕES EM UM DATAFRAME</h2>

<h3>Dataframe.shape</h3>

<p>Retorna a quantidade de linhas e colunas do DataFrame</p>

In [ ]:
df.shape

<h3>Dataframe.index</h3>

<p>Mostra os detalhes do index</p>

In [ ]:
df.index

<h3>Dataframe.columns</h3>

<p>Retorna uma lista com nome das colunas presentes no DataFrame</p>

df.columns

<h3>Dataframe.count()</h3>

<p>Contagem de dados <b>não nulos<b></p>

df.count()

<h3>Dataframe.sum()</h3>

<p>Soma a quantidade de registros de uma certa coluna do dataframe</p>

In [ ]:
df['Quilometragem'].sum()

<h3>Dataframe.min()</h3>

<p>Trás o registro que possúi o menor valor da base</p>

df.min()

<h3>Dataframe.max()</h3>

<p>Trás o registro que possúi o maior valor da base</p>

In [ ]:
df.max()

<h3>Dataframe.mean()</h3>

<p>Trás a média dos valores de uma determinada coluna</p>

In [ ]:
df.mean()

<h3>Dataframe.median()</h3>

<p>Trás a mediana dos valores de uma determinada coluna</p>

In [ ]:
df.median()

<h3>Dataframe.sort_values()</h3>

<p>Ordena os valores de uma determinada coluna</p>

In [ ]:
df['Nome'].sort_values()

In [ ]:
df['Nome'].sort_values(ascending=False)